* text=auto !eol
/.login -text
/Makefile -text
ab/.cvsignore -text
ab/Makefile -text
ab/abdh.h -text
ab/dhpd.c -text
ab/diag.c -text
ab/diag.h -text
ab/rdslc.c -text
ab/sbslc.c -text
ab/sddhp.bin -text svneol=unset#unset
ab/sdhdhp.bin -text svneol=unset#unset
ab/sdssabb3.dat -text
ab/sdudhp.bin -text
ab/std_dhp.c -text
ab/std_dhp.h -text
ab/vmeinst.c -text
bin/Makefile -text
bin/declareMCP -text
bin/fix-make_make -text
bin/sdssmake -text
bin/showMCP -text
bin/switchMCP -text
/branches -text
doc/Makefile -text
doc/www/index.html -text
doc/www/ms.html -text
doc/www/semaphores.html -text
doc/www/status.html -text
etc/Makefile -text
etc/mcp.login -text
etc/trace.el -text
fiducial-tables/Makefile -text
fiducial-tables/alt.dat -text
fiducial-tables/az.dat -text
fiducial-tables/rot.dat -text
ip/Makefile -text
ip/acromag/.cvsignore -text
ip/acromag/Makefile -text
ip/acromag/acromag.h -text
ip/acromag/carrier.c -text
ip/acromag/cnfg480.c -text
ip/acromag/drvr480.c -text
ip/acromag/ip480.h -text
ip/acromag/rmid480.c -text
ip/acromag/vxworks.c -text
ip/ioLibx.h -text
ip/ipOctalSerial.c -text
ip/ipOctalSerial.h -text
ip/mv162IndPackInit.c -text
ip/mv162IndPackInit.h -text
ip/systran/.cvsignore -text
ip/systran/Makefile -text
ip/systran/ad12f1dr.h -text
ip/systran/ad12f1lb.h -text
ip/systran/ad12f1ld.h -text
ip/systran/ad12f1rg.h -text
ip/systran/ad12f1ri.c -text
ip/systran/ad12f1rr.c -text
ip/systran/ad12f1rv.c -text
ip/systran/ad12f1uc.c -text
ip/systran/ad12f1wr.c -text
ip/systran/da128vdr.h -text
ip/systran/da128vlb.h -text
ip/systran/da128vrg.h -text
ip/systran/da128vri.c -text
ip/systran/da128vrr.c -text
ip/systran/da128vrs.c -text
ip/systran/da128vsv.c -text
ip/systran/da128vwr.c -text
ip/systran/did48dr.h -text
ip/systran/did48ic.c -text
ip/systran/did48ie.c -text
ip/systran/did48lb.h -text
ip/systran/did48ld.h -text
ip/systran/did48rg.h -text
ip/systran/did48ri.c -text
ip/systran/did48rp.c -text
ip/systran/did48rr.c -text
ip/systran/did48wp.c -text
ip/systran/did48wr.c -text
ip/systran/dio316dc.c -text
ip/systran/dio316dr.h -text
ip/systran/dio316ic.c -text
ip/systran/dio316ie.c -text
ip/systran/dio316lb.h -text
ip/systran/dio316ld.h -text
ip/systran/dio316oc.c -text
ip/systran/dio316rg.h -text
ip/systran/dio316ri.c -text
ip/systran/dio316rp.c -text
ip/systran/dio316rr.c -text
ip/systran/dio316wp.c -text
ip/systran/dio316wr.c -text
ip/systran/gendefs.h -text
mcp-new/.cvsignore -text
mcp-new/Makefile -text
mcp-new/abdh.h -text
mcp-new/axis.h -text
mcp-new/axis_cmds.c -text
mcp-new/brakes.c -text
mcp-new/cmd.c -text
mcp-new/cmd.h -text
mcp-new/copyright.h -text
mcp-new/counter_weight.c -text
mcp-new/cw.h -text
mcp-new/data_collection.c -text
mcp-new/data_collection.h -text
mcp-new/display.c -text
mcp-new/display.h -text
mcp-new/fiducials.c -text
mcp-new/frame.h -text
mcp-new/instrument_lift.c -text
mcp-new/instruments.h -text
mcp-new/io.h -text
mcp-new/ipcast.c -text
mcp-new/ipcast.h -text
mcp-new/ipsym.c -text
mcp-new/mcpFiducials.h -text
mcp-new/mcpMsgQ.h -text
mcp-new/mcpTimers.h -text
mcp-new/mcpUtils.h -text
mcp-new/ms.h -text
mcp-new/mv162.h -text
mcp-new/pvt.c -text
mcp-new/serial.c -text
mcp-new/serial.h -text
mcp-new/spectro.c -text
mcp-new/tagname.c -text
mcp-new/tbars.c -text
mcp-new/telescope_motion.c -text
mcp-new/telnetCmds.c -text
mcp-new/timerint.h -text
mcp-new/timers.c -text
mcp-new/tm.h -text
mcp-new/umbilical.c -text
mcp-new/util.c -text
mcp-new/vmechip2.h -text
mei-new/Makefile -text
mei-new/backward.c -text
mei-new/bconfig.c -text
mei-new/blimits.c -text
mei-new/doc/Tech1_state-event.txt -text
mei-new/doc/Tech2_frame_intervals.txt -text
mei-new/doc/Tech3_trigger_control.txt -text
mei-new/doc/frame_m.txt -text
mei-new/envutil.c -text
mei-new/examples/acfg.c -text
mei-new/examples/actvel1.c -text
mei-new/examples/actvel2.c -text
mei-new/examples/adread.c -text
mei-new/examples/aimint1.c -text
mei-new/examples/allabort.c -text
mei-new/examples/allevent.c -text
mei-new/examples/ampenabl.c -text
mei-new/examples/ana2enc3.c -text
mei-new/examples/axisad.c -text
mei-new/examples/blend.c -text
mei-new/examples/blendpt.c -text
mei-new/examples/bor45asm.c -text
mei-new/examples/ccoord.c -text
mei-new/examples/cntdown.c -text
mei-new/examples/coil.c -text
mei-new/examples/disded.c -text
mei-new/examples/eventint.c -text
mei-new/examples/eventio.c -text
mei-new/examples/eventrec.c -text
mei-new/examples/ext_int.c -text
mei-new/examples/fbf.c -text
mei-new/examples/findpci.c -text
mei-new/examples/floop4.c -text
mei-new/examples/floopm4.c -text
mei-new/examples/fr_int.c -text
mei-new/examples/fs.c -text
mei-new/examples/getdata.c -text
mei-new/examples/holdit.c -text
mei-new/examples/home1.c -text
mei-new/examples/home2.c -text
mei-new/examples/home3.c -text
mei-new/examples/home4.c -text
mei-new/examples/home5.c -text
mei-new/examples/home6.c -text
mei-new/examples/home7.c -text
mei-new/examples/inthnd.c -text
mei-new/examples/intsimpl.c -text
mei-new/examples/iolatch.c -text
mei-new/examples/iomon_in.c -text
mei-new/examples/jog.c -text
mei-new/examples/joglat1.c -text
mei-new/examples/joglat2.c -text
mei-new/examples/keylatch.c -text
mei-new/examples/lcoord.c -text
mei-new/examples/limit.c -text
mei-new/examples/linksync.c -text
mei-new/examples/lsint.c -text
mei-new/examples/lynxasm.c -text
mei-new/examples/masync.c -text
mei-new/examples/medexp.h -text
mei-new/examples/minthnd.c -text
mei-new/examples/mldebug.c -text
mei-new/examples/mtask.c -text
mei-new/examples/oscdata1.c -text
mei-new/examples/pidchng1.c -text
mei-new/examples/pvt4.c -text
mei-new/examples/pvu5.c -text
mei-new/examples/qmvs4.c -text
mei-new/examples/redfed.c -text
mei-new/examples/rtraj.c -text
mei-new/examples/sattr.c -text
mei-new/examples/scanadp.c -text
mei-new/examples/scanadt.c -text
mei-new/examples/scancap.c -text
mei-new/examples/scrstat.c -text
mei-new/examples/sdiag.c -text
mei-new/examples/sem.c -text
mei-new/examples/sercpl2.c -text
mei-new/examples/settle3.c -text
mei-new/examples/shome1.c -text
mei-new/examples/sidn.c -text
mei-new/examples/sidn1.c -text
mei-new/examples/sidnl.c -text
mei-new/examples/sidns.c -text
mei-new/examples/sinit1.c -text
mei-new/examples/sinit2.c -text
mei-new/examples/sinit3.c -text
mei-new/examples/sinit4.c -text
mei-new/examples/slave.c -text
mei-new/examples/snfind.c -text
mei-new/examples/speed.c -text
mei-new/examples/sprof2.c -text
mei-new/examples/state.c -text
mei-new/examples/stoplat.c -text
mei-new/examples/template.c -text
mei-new/extras.c -text
mei-new/extras.h -text
mei-new/hldsp.c -text
mei-new/idsp.c -text
mei-new/idsp.h -text
mei-new/ifixed.c -text
mei-new/iframe.c -text
mei-new/ilsr.h -text
mei-new/imemory.c -text
mei-new/itan.h -text
mei-new/llbm.c -text
mei-new/llconfig.c -text
mei-new/llef.c -text
mei-new/llfirm.c -text
mei-new/llframe.c -text
mei-new/llink.c -text
mei-new/llio.c -text
mei-new/llmove.c -text
mei-new/llpid.c -text
mei-new/llpos.c -text
mei-new/llserc.c -text
mei-new/llsetvel.c -text
mei-new/llsrset.c -text
mei-new/llstatus.c -text
mei-new/mboard.c -text
mei-new/mboard.h -text
mei-new/mlconfig.c -text
mei-new/mldsp.c -text
mei-new/mldspf.c -text
mei-new/mlef.c -text
mei-new/mlerror.c -text
mei-new/mlframe.c -text
mei-new/mlio.c -text
mei-new/mllink.c -text
mei-new/mllsr.c -text
mei-new/mlmove.c -text
mei-new/mlpmove.c -text
mei-new/mlpos.c -text
mei-new/mlrmove.c -text
mei-new/mlrsmove.c -text
mei-new/mlserc.c -text
mei-new/mlsetvel.c -text
mei-new/mlsmove.c -text
mei-new/mlspline.c -text
mei-new/mlstatus.c -text
mei-new/mltan.c -text
mei-new/mluom.c -text
mei-new/pcdsp.h -text
mei-new/sercdiag.c -text
mei-new/sercmisc.c -text
mei-new/sercos.h -text
mei-new/sercrset.c -text
mei-new/sercrset.h -text
mei-new/sincomm.c -text
mei-new/sincomm.h -text
mei-new/sydsp.c -text
mei-new/system.c -text
mei-new/systems.h -text
mei-new/vmemap.h -text
ups/Makefile -text
ups/mcp.table -text
util/.cvsignore -text
util/Makefile -text
util/dscTrace.c -text
util/iptime.c -text
util/mcpNtp.h -text
util/microtime.c -text
util/ntp.c -text
util/rtc.c -text
util/tasks.c -text
util/timer.c -text
util/timer.h -text
util/usrtime.c -text
util/usrtime.h -text
