* text=auto !eol
ip/Makefile -text
ip/acromag/carrier.c -text
ip/acromag/cnfg480.c -text
ip/acromag/drvr480.c -text
ip/acromag/ip480.h -text
ip/acromag/rmid480.c -text
ip/acromag/vxworks.c -text
ip/ioLibx.h -text
ip/ipOctalSerial.c -text
ip/ipOctalSerial.h -text
ip/mv162IndPackInit.c -text
ip/mv162IndPackInit.h -text
ip/systran/Makefile -text
ip/systran/ad12f1dr.h -text
ip/systran/ad12f1lb.h -text
ip/systran/ad12f1ld.h -text
ip/systran/ad12f1rg.h -text
ip/systran/ad12f1ri.c -text
ip/systran/ad12f1rr.c -text
ip/systran/ad12f1rv.c -text
ip/systran/ad12f1uc.c -text
ip/systran/ad12f1wr.c -text
ip/systran/da128vdr.h -text
ip/systran/da128vlb.h -text
ip/systran/da128vrg.h -text
ip/systran/da128vri.c -text
ip/systran/da128vrr.c -text
ip/systran/da128vrs.c -text
ip/systran/da128vsv.c -text
ip/systran/da128vwr.c -text
ip/systran/did48dr.h -text
ip/systran/did48ic.c -text
ip/systran/did48ie.c -text
ip/systran/did48lb.h -text
ip/systran/did48ld.h -text
ip/systran/did48rg.h -text
ip/systran/did48ri.c -text
ip/systran/did48rp.c -text
ip/systran/did48rr.c -text
ip/systran/did48wp.c -text
ip/systran/did48wr.c -text
ip/systran/dio316dc.c -text
ip/systran/dio316dr.h -text
ip/systran/dio316ic.c -text
ip/systran/dio316ie.c -text
ip/systran/dio316lb.h -text
ip/systran/dio316ld.h -text
ip/systran/dio316oc.c -text
ip/systran/dio316rg.h -text
ip/systran/dio316ri.c -text
ip/systran/dio316rp.c -text
ip/systran/dio316rr.c -text
ip/systran/dio316wp.c -text
ip/systran/dio316wr.c -text
ip/systran/gendefs.h -text
mcp-new/Makefile -text
mcp-new/abdh.h -text
mcp-new/axis.h -text
mcp-new/axis_cmds.c -text
mcp-new/cmd.c -text
mcp-new/cmd.h -text
mcp-new/copyright.h -text
mcp-new/counter_weight.c -text
mcp-new/cw.h -text
mcp-new/data_collection.c -text
mcp-new/data_collection.h -text
mcp-new/display.c -text
mcp-new/display.h -text
mcp-new/frame.h -text
mcp-new/instrument_lift.c -text
mcp-new/io.h -text
mcp-new/ipcast.c -text
mcp-new/ipsym.c -text
mcp-new/ms.h -text
mcp-new/mv162.h -text
mcp-new/serial.c -text
mcp-new/telescope_motion.c -text
mcp-new/timerint.h -text
mcp-new/tm.h -text
mcp-new/umbilical.c -text
mcp-new/util.c -text
mcp-new/vmechip2.h -text
mei-new/extras.h -text
mei-new/idsp.h -text
mei-new/ilsr.h -text
mei-new/itan.h -text
mei-new/llfirm.o -text
mei-new/mboard.h -text
mei-new/medvxw40.a -text
mei-new/pcdsp.h -text
mei-new/sercos.h -text
mei-new/sercrset.h -text
mei-new/sincomm.h -text
mei-new/systems.h -text
mei-new/vmemap.h -text
util/Makefile -text
util/iptime.c -text
util/microtime.c -text
util/rtc.c -text
util/usrtime.c -text
util/usrtime.h -text
util/utiltim.out -text svneol=unset#unset
