* text=auto !eol
/.login -text
/Makefile -text
ab/.cvsignore -text
ab/Makefile -text
ab/abdh.h -text
ab/dhpd.c -text
ab/diag.c -text
ab/diag.h -text
ab/rdslc.c -text
ab/sbslc.c -text
ab/sddhp.bin -text svneol=unset#unset
ab/sdhdhp.bin -text svneol=unset#unset
ab/sdssabb3.dat -text
ab/sdudhp.bin -text
ab/std_dhp.c -text
ab/std_dhp.h -text
ab/vmeinst.c -text
bin/Makefile -text
bin/buildKeyDict -text
bin/declareMCP -text
bin/fiddle-fiducial -text
bin/fix-make_make -text
bin/gdb -text
bin/make_make -text
bin/resetCrate -text
bin/sdssmake -text
bin/showMCP -text
bin/switchMCP -text
/branches -text
doc/Makefile -text
doc/www/cmds.html -text
doc/www/index.html -text
doc/www/ms.html -text
doc/www/semaphores.html -text
doc/www/status.html -text
etc/Makefile -text
etc/mcp.login -text
etc/setup-mcp -text
etc/trace.el -text
fiducial-tables/Makefile -text
fiducial-tables/alt.dat -text
fiducial-tables/az.dat -text
fiducial-tables/rot.dat -text
ip/Makefile -text
ip/acromag/.cvsignore -text
ip/acromag/Makefile -text
ip/acromag/acromag.h -text
ip/acromag/carrier.c -text
ip/acromag/cnfg480.c -text
ip/acromag/drvr480.c -text
ip/acromag/ip480.h -text
ip/acromag/rmid480.c -text
ip/acromag/vxworks.c -text
ip/ioLibx.h -text
ip/ipOctalSerial.c -text
ip/ipOctalSerial.h -text
ip/mv162IndPackInit.c -text
ip/mv162IndPackInit.h -text
ip/scc2698.h -text
ip/systran/.cvsignore -text
ip/systran/Makefile -text
ip/systran/ad12f1dr.h -text
ip/systran/ad12f1lb.h -text
ip/systran/ad12f1ld.h -text
ip/systran/ad12f1rg.h -text
ip/systran/ad12f1ri.c -text
ip/systran/ad12f1rr.c -text
ip/systran/ad12f1rv.c -text
ip/systran/ad12f1uc.c -text
ip/systran/ad12f1wr.c -text
ip/systran/da128vdr.h -text
ip/systran/da128vlb.h -text
ip/systran/da128vrg.h -text
ip/systran/da128vri.c -text
ip/systran/da128vrr.c -text
ip/systran/da128vrs.c -text
ip/systran/da128vsv.c -text
ip/systran/da128vwr.c -text
ip/systran/did48dr.h -text
ip/systran/did48ic.c -text
ip/systran/did48ie.c -text
ip/systran/did48lb.h -text
ip/systran/did48ld.h -text
ip/systran/did48rg.h -text
ip/systran/did48ri.c -text
ip/systran/did48rp.c -text
ip/systran/did48rr.c -text
ip/systran/did48wp.c -text
ip/systran/did48wr.c -text
ip/systran/dio316dc.c -text
ip/systran/dio316dr.h -text
ip/systran/dio316ic.c -text
ip/systran/dio316ie.c -text
ip/systran/dio316lb.h -text
ip/systran/dio316ld.h -text
ip/systran/dio316oc.c -text
ip/systran/dio316rg.h -text
ip/systran/dio316ri.c -text
ip/systran/dio316rp.c -text
ip/systran/dio316rr.c -text
ip/systran/dio316wp.c -text
ip/systran/dio316wr.c -text
ip/systran/gendefs.h -text
mei-src/Makefile -text
mei-src/backward.c -text
mei-src/bconfig.c -text
mei-src/blimits.c -text
mei-src/doc/Tech1_state-event.txt -text
mei-src/doc/Tech2_frame_intervals.txt -text
mei-src/doc/Tech3_trigger_control.txt -text
mei-src/doc/frame_m.txt -text
mei-src/envutil.c -text
mei-src/examples/acfg.c -text
mei-src/examples/actvel1.c -text
mei-src/examples/actvel2.c -text
mei-src/examples/adread.c -text
mei-src/examples/aimint1.c -text
mei-src/examples/allabort.c -text
mei-src/examples/allevent.c -text
mei-src/examples/ampenabl.c -text
mei-src/examples/ana2enc3.c -text
mei-src/examples/axisad.c -text
mei-src/examples/blend.c -text
mei-src/examples/blendpt.c -text
mei-src/examples/bor45asm.c -text
mei-src/examples/ccoord.c -text
mei-src/examples/cntdown.c -text
mei-src/examples/coil.c -text
mei-src/examples/disded.c -text
mei-src/examples/eventint.c -text
mei-src/examples/eventio.c -text
mei-src/examples/eventrec.c -text
mei-src/examples/ext_int.c -text
mei-src/examples/fbf.c -text
mei-src/examples/findpci.c -text
mei-src/examples/floop4.c -text
mei-src/examples/floopm4.c -text
mei-src/examples/fr_int.c -text
mei-src/examples/fs.c -text
mei-src/examples/getdata.c -text
mei-src/examples/holdit.c -text
mei-src/examples/home1.c -text
mei-src/examples/home2.c -text
mei-src/examples/home3.c -text
mei-src/examples/home4.c -text
mei-src/examples/home5.c -text
mei-src/examples/home6.c -text
mei-src/examples/home7.c -text
mei-src/examples/inthnd.c -text
mei-src/examples/intsimpl.c -text
mei-src/examples/iolatch.c -text
mei-src/examples/iomon_in.c -text
mei-src/examples/jog.c -text
mei-src/examples/joglat1.c -text
mei-src/examples/joglat2.c -text
mei-src/examples/keylatch.c -text
mei-src/examples/lcoord.c -text
mei-src/examples/limit.c -text
mei-src/examples/linksync.c -text
mei-src/examples/lsint.c -text
mei-src/examples/lynxasm.c -text
mei-src/examples/masync.c -text
mei-src/examples/medexp.h -text
mei-src/examples/minthnd.c -text
mei-src/examples/mldebug.c -text
mei-src/examples/mtask.c -text
mei-src/examples/oscdata1.c -text
mei-src/examples/pidchng1.c -text
mei-src/examples/pvt4.c -text
mei-src/examples/pvu5.c -text
mei-src/examples/qmvs4.c -text
mei-src/examples/redfed.c -text
mei-src/examples/rtraj.c -text
mei-src/examples/sattr.c -text
mei-src/examples/scanadp.c -text
mei-src/examples/scanadt.c -text
mei-src/examples/scancap.c -text
mei-src/examples/scrstat.c -text
mei-src/examples/sdiag.c -text
mei-src/examples/sem.c -text
mei-src/examples/sercpl2.c -text
mei-src/examples/settle3.c -text
mei-src/examples/shome1.c -text
mei-src/examples/sidn.c -text
mei-src/examples/sidn1.c -text
mei-src/examples/sidnl.c -text
mei-src/examples/sidns.c -text
mei-src/examples/sinit1.c -text
mei-src/examples/sinit2.c -text
mei-src/examples/sinit3.c -text
mei-src/examples/sinit4.c -text
mei-src/examples/slave.c -text
mei-src/examples/snfind.c -text
mei-src/examples/speed.c -text
mei-src/examples/sprof2.c -text
mei-src/examples/state.c -text
mei-src/examples/stoplat.c -text
mei-src/examples/template.c -text
mei-src/extras.c -text
mei-src/extras.h -text
mei-src/hldsp.c -text
mei-src/idsp.c -text
mei-src/idsp.h -text
mei-src/ifixed.c -text
mei-src/iframe.c -text
mei-src/ilsr.h -text
mei-src/imemory.c -text
mei-src/itan.h -text
mei-src/llbm.c -text
mei-src/llconfig.c -text
mei-src/llef.c -text
mei-src/llfirm.c -text
mei-src/llframe.c -text
mei-src/llink.c -text
mei-src/llio.c -text
mei-src/llmove.c -text
mei-src/llpid.c -text
mei-src/llpos.c -text
mei-src/llserc.c -text
mei-src/llsetvel.c -text
mei-src/llsrset.c -text
mei-src/llstatus.c -text
mei-src/mboard.c -text
mei-src/mboard.h -text
mei-src/mlconfig.c -text
mei-src/mldsp.c -text
mei-src/mldspf.c -text
mei-src/mlef.c -text
mei-src/mlerror.c -text
mei-src/mlframe.c -text
mei-src/mlio.c -text
mei-src/mllink.c -text
mei-src/mllsr.c -text
mei-src/mlmove.c -text
mei-src/mlpmove.c -text
mei-src/mlpos.c -text
mei-src/mlrmove.c -text
mei-src/mlrsmove.c -text
mei-src/mlserc.c -text
mei-src/mlsetvel.c -text
mei-src/mlsmove.c -text
mei-src/mlspline.c -text
mei-src/mlstatus.c -text
mei-src/mltan.c -text
mei-src/mluom.c -text
mei-src/pcdsp.h -text
mei-src/sercdiag.c -text
mei-src/sercmisc.c -text
mei-src/sercos.h -text
mei-src/sercrset.c -text
mei-src/sercrset.h -text
mei-src/sincomm.c -text
mei-src/sincomm.h -text
mei-src/sydsp.c -text
mei-src/system.c -text
mei-src/systems.h -text
mei-src/vmemap.h -text
src/.cvsignore -text
src/Makefile -text
src/abdh.h -text
src/as2.c -text
src/as2.h -text
src/axis.h -text
src/axis_cmds.c -text
src/brakes.c -text
src/cmd.c -text
src/cmd.h -text
src/copyright.h -text
src/counter_weight.c -text
src/cw.h -text
src/data_collection.c -text
src/dictionary.c -text
src/dictionaryData.c -text
src/fiducials.c -text
src/frame.h -text
src/instrument_lift.c -text
src/instruments.c -text
src/instruments.h -text
src/io.h -text
src/ipcast.c -text
src/ipcast.h -text
src/ipsym.c -text
src/mcpFiducials.h -text
src/mcpMsgQ.h -text
src/mcpSpectro.h -text
src/mcpTimers.h -text
src/mcpUtils.h -text
src/ms.h -text
src/mv162.h -text
src/pvt.c -text
src/serial.c -text
src/serial.h -text
src/spectro.c -text
src/tagname.c -text
src/tbars.c -text
src/telescope_motion.c -text
src/telnetCmds.c -text
src/timerint.h -text
src/timers.c -text
src/tm.h -text
src/util.c -text
src/vmechip2.h -text
ups/Makefile -text
ups/mcp.table -text
util/.cvsignore -text
util/Makefile -text
util/dscTrace.c -text
util/dscTrace.h -text
util/dsc_msg_c.h -text
util/iptime.c -text
util/mcpNtp.h -text
util/microtime.c -text
util/ntp.c -text
util/rtc.c -text
util/tasks.c -text
util/timer.c -text
util/timer.h -text
util/usrtime.c -text
util/usrtime.h -text
